.form{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 50px;
    border-bottom: 1px solid $grey-d9;
    color: red;
    &__input{
        font-family: 'Roboto';
        border-radius: 3px 3px 0px 0px;
        resize: none;
        color: $grey-99;
        font-size: 16px;
        height: 90px;
        border: 1px solid $grey-d9;
        padding: 16px;

        &:focus{
            border-color: black;
        }
    }
    &__button{
        max-width: 220px;
        align-self: flex-end;
        padding: 17px 50px;
        background-color: $orange;
        font-weight: 500;
        font-family: 'Roboto';
        color: #fff;
        border-radius: 0px 0px 3px 3px;
    }

    &__name{
        font-family: 'Roboto';
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 16px;
        color: $orange;
    }
}

