.karma {
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: absolute;
    &__up,
    &__down {
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent $grey-d9 transparent;
        transition: border-color 0.3s;
    }

    &__count {
        margin: 7px 0px;
    }

    &__up {
        border-width: 0px 10px 10px 10px;
        &:hover {
            border-color: transparent transparent $green transparent;
        }
    }

    &__down {
        border-width: 10px 10px 3px 10px;
    }

    &__down {
        border-color: $grey-d9 transparent transparent transparent;
        &:hover {
            border-color: $red transparent transparent transparent;
        }
    }
}

@media (max-width: 940px) {
    .karma {
        flex-direction: row;
        align-items: center;
        &__count {
            margin: 0 7px;
            color: $grey-99;
        }
        &__up {
            transition: unset;
            &:hover {
                border-color: transparent transparent $grey-d9 transparent;
            }
            &:active {
                border-color: transparent transparent $green transparent;
            }
        }

        &__down {
            transition: unset;

            &:hover {
                border-color: $grey-d9 transparent transparent transparent;
            }
            &:active {
                border-color: $red transparent transparent transparent;
            }
        }
    }
}
