.post{
    position: absolute;
    left: 50%;
    max-width: 960px;
    width: 100%;
    transform: translateX(-50%);
    top: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    padding: 30px 40px;

    &__title{
        display: block;
        line-height: 34px;
        text-align: center;
        margin-bottom: 30px;
    }

    // &__imgWrapper{
    //     position: relative;
    //     width: 100px;
    //     min-height: 100px;
    //     // max-height: 200px;
    // }

    &__bannerImg{
        max-height: 500px;
    }

    &__user{
        margin-left: 25px;
    }

    &__karma{
        &>span{
            color: $grey-99;
            margin: 10px 0;
            cursor: default;
        }
    }

    &__description{
        line-height: 2;
        font-size: 16px;
        // font-size: 20px;
    }

    &__gallery2_img{
        // position: relative;
        width: 410px;
        height: 297px;
    }

    &__header{
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

    &__userInfo{
        margin-top: 8px;
        margin-left: 20px;
    }

    &__imgWrapper{
        display: flex;
        justify-content: center;
        margin: 0;
    }

    &__control{
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }

    &__load{
        display: flex;
        justify-content: center;
    }
}

.listItem{
    display: flex;
    &+&{
        margin-left: 20px;
    }
    & > p{
        color: #999;
    }
}

@media(max-width:1900px){
    .post{
        &__gallery_first{
            // align-items: center;
        flex-direction: column;
        }
        &__gallery2_img{
            width: 100%;
            height: auto;
        }
        &__imgCaption_first{
            max-width: 100%;
        }
    }
   
}

.content{
    color: black;
    width: 30px;
    height: 30px;
    &:focus{
        border: none;
    }
    &:active{
        border: none;

    }
}