.post{
    position: absolute;
    left: 50%;
    max-width: 960px;
    width: 100%;
    top: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    padding: 30px 40px;

    &__title{
        margin-bottom: 8px;
    }

    &__user{
        margin-left: 25px;
    
    }

    &__gallery2_img{
        // position: relative;
        width: 410px;
        height: 297px;
    }

    &__header{
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

    &__userInfo{
        margin-top: 8px;
        margin-left: 20px;
    }

    &__text{
        line-height: 24px;
        line-height: 34px;
        text-align: center;
        &_first{
            color: red;
        }
    }

    &__imgWrapper{
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    &__control{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    &__load{
        display: flex;
        justify-content: center;
    }
}

.listItem{
    display: flex;
    &+&{
        margin-left: 20px;
    }
    & > p{
        color: #999;
    }
}

@media(max-width:1900px){
    .post{
        &__gallery_first{
            // align-items: center;
        flex-direction: column;
        }
        &__gallery2_img{
            width: 100%;
            height: auto;
        }
        &__imgCaption_first{
            max-width: 100%;
        }
    }
   
}