.contentContainer {
    overflow: hidden;
    position: relative;
    max-height: 70vh;

    video,
    iframe {
        position: absolute;
        width: 100%;
        max-height: 70vh;
        height: 100%;
    }
}

.rich {
    position: absolute;
    width: 100%;
    max-height: 70vh;
    height: 100%;
}
